.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-left: 27px;
    }
}

@media screen and (max-width: 810px) {
    .profile__avatar {
        margin: 0;
    }
}